/*général*/

html {
    height: 100%;
    width: 100%;
  }

  /* Réinitialisation de la mise en page par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(image/minishrek.png);
    background-repeat: repeat;
    background-size: auto;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h3 {
    color: #333;
    font-size: 25px;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
}

/* Changement de couleur au survol */
li a:hover {
    background-color: #111;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: center;
}

/* Menu principal */

.box {
    background-color: #333;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 150px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

/*page bad uis*/

.box-title-ui {

   background-color: #333;
   border-radius: 20px;
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 30%;
   margin-right: 30%;
   
}

.title-bad-uis {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 60px;
    text-align: center;
    color: #333;
    padding: 0px;
    background-color: rgb(119, 195, 52);
    background-size: cover;
    margin: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-style: italic;
    text-shadow: -1px 0 black,0 -1px black;
}

.box-badui{
    background-color: #333;
    border-radius: 20px;
    align-items: center;
    padding: 0px;
    margin: 3%;
    display: block;
}

.badui-content{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

.badui-souscontent{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    text-align: center;
}

/* Styles pour les boutons BADUI page */
.joli-bouton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styles pour les boutons au survol BADUI page*/
.joli-bouton:hover {
    background-color: #45a049; 
}

/* Styles pour les boutons au clic BADUI page */
.joli-bouton:active {
    background-color: #3e8e41; 
}

