html {
    height: 100%;
    width: 100%;
  }

  /* Réinitialisation de la mise en page par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/minishrek.png);
    background-repeat: repeat;
    background-size: auto;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Changement de couleur au survol */
li a:hover {
    background-color: #111;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: center;
}

/* Menu principal */

.box {
    background-color: #333;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 150px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

/*page bad uis*/

.title-bad-uis {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 60px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box-badui{
    background-color: #333;
    border-radius: 20px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 95%;
    padding: 20px;
}

